node_modules
docs/.vitepress/cache
docs/.vitepress/dist
*.webp
!*_thumbnail.webp
.idea
docs/postdata.json
docs/scripts/metaCollector.js
docs/utilities/postMetaData.js
docs/utilities/tagHelper.js
.hugo_build.lock
.obsidian
public
