AddDefaultCharset UTF-8

Header always unset x-powered-by
Header unset x-powered-by

RewriteEngine On

# Weiterleitung auf HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# www auf nicht www weiter leiten
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

<IfModule mod_deflate.c>
        AddOutputFilterByType DEFLATE text/plain
        AddOutputFilterByType DEFLATE text/html
        AddOutputFilterByType DEFLATE text/xml
        AddOutputFilterByType DEFLATE text/shtml
        AddOutputFilterByType DEFLATE text/css
        AddOutputFilterByType DEFLATE application/xml
        AddOutputFilterByType DEFLATE application/xhtml+xml
        AddOutputFilterByType DEFLATE application/rss+xml
        AddOutputFilterByType DEFLATE application/javascript
        AddOutputFilterByType DEFLATE application/x-javascript
	Header append Vary Accept-Encoding
</IfModule>

<IfModule mod_headers.c>
    # Cache media for one day
    <FilesMatch "\.(ico|jpg|jpeg|gif|png|pdf|mp3|mp4|webp)$">
        Header set Cache-Control "public, max-age=86400"
    </FilesMatch>

    # Cache text for two hours
    <FilesMatch "\.(html|htm|txt|xsl)$">
        Header set Cache-Control "public, max-age=7200, must-revalidate"
    </FilesMatch>

    # Cache stylesheets and javascripts
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>
</IfModule>

RewriteRule ^post/lagedernation.html$ /post/lagedernation/ [R=301,L]
RewriteRule ^post/bitcoins.html$ /post/bitcoins/ [R=301,L]
RewriteRule ^post/vitepress.html$ /post/vitepress/ [R=301,L]
RewriteRule ^post/ghostbusters.html$ /post/ghostbusters/ [R=301,L]
RewriteRule ^post/konferenzcyberkriminalitaet.html$ /post/konferenzcyberkriminalitaet/ [R=301,L]
RewriteRule ^post/wordpresshack.html$ /post/wordpresshack/ [R=301,L]
RewriteRule ^post/radioaktiverfund.html$ /post/radioaktiverfund/ [R=301,L]
RewriteRule ^post/unix_systems.html$ /post/unix_systems/ [R=301,L]
RewriteRule ^post/wordpresshacktotal.html$ /post/wordpresshacktotal/ [R=301,L]
RewriteRule ^post/uploadfilter_angenommen.html$ /post/uploadfilter_angenommen/ [R=301,L]
RewriteRule ^post/cdu_und_jugend.html$ /post/cdu_und_jugend/ [R=301,L]
RewriteRule ^post/datenkrake_facebook.html$ /post/datenkrake_facebook/ [R=301,L]
RewriteRule ^post.html$ /post/ [R=301,L]
RewriteRule ^post/otrs_lebt.html$ /post/otrs_lebt/ [R=301,L]
RewriteRule ^post/safeyourinternet.html$ /post/safeyourinternet/ [R=301,L]
RewriteRule ^post/eukommissionschef_vonderleyen.html$ /post/eukommissionschef_vonderleyen/ [R=301,L]
RewriteRule ^post/eudsgvo.html$ /post/eudsgvo/ [R=301,L]
RewriteRule ^post/freifunk.html$ /post/freifunk/ [R=301,L]
RewriteRule ^post/videoreiheamwochenende.html$ /post/videoreiheamwochenende/ [R=301,L]
RewriteRule ^post/eingefrorenesschloss.html$ /post/eingefrorenesschloss/ [R=301,L]
RewriteRule ^post/schreibmaschine.html$ /post/schreibmaschine/ [R=301,L]
RewriteRule ^post/netflix_linux.html$ /post/netflix_linux/ [R=301,L]
RewriteRule ^post/twitch.html$ /post/twitch/ [R=301,L]
RewriteRule ^post/uploadfilter_demo_muenster.html$ /post/uploadfilter_demo_muenster/ [R=301,L]
RewriteRule ^post/umzug_mit_huerden.html$ /post/umzug_mit_huerden/ [R=301,L]
RewriteRule ^post/otrs_log_bug.html$ /post/otrs_log_bug/ [R=301,L]
RewriteRule ^post/znunyotrslts2023.html$ /post/znunyotrslts2023/ [R=301,L]
RewriteRule ^post/bus_und_bahn.html$ /post/bus_und_bahn/ [R=301,L]
RewriteRule ^post/autoeinbruch.html$ /post/autoeinbruch/ [R=301,L]
RewriteRule ^post/hallo-welt.html$ /post/hallo-welt/ [R=301,L]
RewriteRule ^post/video_meintag.html$ /post/video_meintag/ [R=301,L]
RewriteRule ^post/lifeinaday.html$ /post/lifeinaday/ [R=301,L]
RewriteRule ^post/goodbye_coesfeld.html$ /post/goodbye_coesfeld/ [R=301,L]
RewriteRule ^post/endlich_solarstrom.html$ /post/endlich_solarstrom/ [R=301,L]
RewriteRule ^post/uploadfilter_terrorausweitung.html$ /post/uploadfilter_terrorausweitung/ [R=301,L]
RewriteRule ^post/scheibenwischerschlauch.html$ /post/scheibenwischerschlauch/ [R=301,L]
RewriteRule ^post/glasfaser.html$ /post/glasfaser/ [R=301,L]
RewriteRule ^post/polenreise_vorbereitungen.html$ /post/polenreise_vorbereitungen/ [R=301,L]
RewriteRule ^post/mastodon_fix.html$ /post/mastodon_fix/ [R=301,L]
RewriteRule ^post/interpals.html$ /post/interpals/ [R=301,L]
RewriteRule ^post/powerpcgentoo.html$ /post/powerpcgentoo/ [R=301,L]
RewriteRule ^post/no_smartphone.html$ /post/no_smartphone/ [R=301,L]
RewriteRule ^post/bitwala_nuri.html$ /post/bitwala_nuri/ [R=301,L]
RewriteRule ^post/catcam.html$ /post/catcam/ [R=301,L]
RewriteRule ^post/zurueckzuhugo.html$ /post/zurueckzuhugo/ [R=301,L]
RewriteRule ^post/leserbriefbuergermeister.html$ /post/leserbriefbuergermeister/ [R=301,L]
RewriteRule ^post/i3.html$ /post/i3/ [R=301,L]
RewriteRule ^post/studio.html$ /post/studio/ [R=301,L]
RewriteRule ^post/corona.html$ /post/corona/ [R=301,L]
RewriteRule ^post/wahlamerika2020.html$ /post/wahlamerika2020/ [R=301,L]
RewriteRule ^post/homeoffice.html$ /post/homeoffice/ [R=301,L]
RewriteRule ^post/gegendemoneujahrsempfangderafdmuenster.html$ /post/gegendemoneujahrsempfangderafdmuenster/ [R=301,L]
RewriteRule ^post/rally.html$ /post/rally/ [R=301,L]
RewriteRule ^post/videoprojekt_internet.html$ /post/videoprojekt_internet/ [R=301,L]
RewriteRule ^post/thinkpad.html$ /post/thinkpad/ [R=301,L]
RewriteRule ^post/frankfurt.html$ /post/frankfurt/ [R=301,L]
RewriteRule ^post/erstehilfe.html$ /post/erstehilfe/ [R=301,L]
RewriteRule ^post/telegrambot.html$ /post/telegrambot/ [R=301,L]
RewriteRule ^post/otrs_ce.html$ /post/otrs_ce/ [R=301,L]
RewriteRule ^post/fussballtrends.html$ /post/fussballtrends/ [R=301,L]
RewriteRule ^post/uploadfilter_koeln_dritte_demo.html$ /post/uploadfilter_koeln_dritte_demo/ [R=301,L]
RewriteRule ^post/powerplay.html$ /post/powerplay/ [R=301,L]
RewriteRule ^post/uploadfilter_demo_koeln.html$ /post/uploadfilter_demo_koeln/ [R=301,L]
RewriteRule ^post/polen2019.html$ /post/polen2019/ [R=301,L]
RewriteRule ^post/ubuntu_debian_migration.html$ /post/ubuntu_debian_migration/ [R=301,L]
RewriteRule ^post/schnelleeingreiftruppecdu.html$ /post/schnelleeingreiftruppecdu/ [R=301,L]
RewriteRule ^post/drohne.html$ /post/drohne/ [R=301,L]
RewriteRule ^post/otrs_6_5_release.html$ /post/otrs_6_5_release/ [R=301,L]
RewriteRule ^post/finfisher.html$ /post/finfisher/ [R=301,L]
RewriteRule ^post/ausgangssperre.html$ /post/ausgangssperre/ [R=301,L]
RewriteRule ^post/gamescom_2019.html$ /post/gamescom_2019/ [R=301,L]
RewriteRule ^post/neues_layout.html$ /post/neues_layout/ [R=301,L]
RewriteRule ^post/sprengunglonginusturm.html$ /post/sprengunglonginusturm/ [R=301,L]
RewriteRule ^post/vierte_welle.html$ /post/vierte_welle/ [R=301,L]
RewriteRule ^post/kia.html$ /post/kia/ [R=301,L]
RewriteRule ^post/mastodon.html$ /post/mastodon/ [R=301,L]
RewriteRule ^post/weltweite_besucher.html$ /post/weltweite_besucher/ [R=301,L]
RewriteRule ^post/uploadfilter_entscheidung_vorverlegt.html$ /post/uploadfilter_entscheidung_vorverlegt/ [R=301,L]
RewriteRule ^post/phpmalanders.html$ /post/phpmalanders/ [R=301,L]
RewriteRule ^post/polen2018.html$ /post/polen2018/ [R=301,L]
RewriteRule ^categories.html$ /categories/ [R=301,L]
RewriteRule ^post.html$ /post/ [R=301,L]
RewriteRule ^en.html$ /en/ [R=301,L]
RewriteRule ^aboutme.html$ /aboutme/ [R=301,L]
RewriteRule ^photos.html$ /photos/ [R=301,L]
RewriteRule ^references.html$ /references/ [R=301,L]
RewriteRule ^de.html$ /de/ [R=301,L]
RewriteRule ^tags.html$ /tags/ [R=301,L]
